@media only screen and (max-width: 500px) {
    .buscar {
        padding: 150px 0 30px 0;
        margin: 2px 0 0 0;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 7vw !important;
        color: #ffffff;
    }

    .select {
        width: 80vw !important;
        margin-bottom: 200px;
    }
}

body {
    overflow-x: hidden;
}

.graph-title {
    padding: 5vw 0 2vw 10vw;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4vw;
    color: #0C5E3D;
    background-color: white;

}

.buscar {
    padding: 150px 0 30px 0;
    margin: 2px 0 0 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4vw;
    color: #ffffff;

}

.div-buscar {
    background-image: url('../../images/background.jpeg');
}

.select {
    width: 60vw;
    margin-bottom: 200px;
}

.ant-select-open .ant-select-arrow-icon svg {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.menu-item:hover {
    background-color: #0c5e3d1f !important;
    transition-duration: 0.5s !important;

}

.graph {
    width: 80%;
    left: 10%;
    padding-bottom: 70px;
}